.c-header {
  background-color: $white;
  position: sticky;
  top: 0;
  transition: $transition-default;
  z-index: 999;
  border-bottom: 1px solid #AAA;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: .75em 0;
    transition: $transition-default;

    .is-active-header & {
      margin: .5em 0;
    }
    
    a {
      display: inline-block;
    }
    
    img {
      transition: $transition-default;

      .is-active-header & {
        width: 101px;
        height: auto;
      }
    }
  }  

  &__phone {
    position: fixed;
    bottom: 60px;
    z-index: 99;
    right: 17.239583%;

    @include below($lg) {
      right: 2%;
    }

    .post-type-archive-blog &,
    .single-blog &,
    .page-id-17 & {
        display: none;
    }
  }
}