.c-single-procedures {
    &__container {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include below($sm-max) {
            flex-direction: column;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35.15625%;
        margin-left: 11.92708333333333%;
        position: relative;
        margin-right: 5.208333333333333%;
        background-color: $color-primary;
        height: 545px;

        @include below($lg) {
            width: 50%;
            margin-left: 5%;
        }

        @include below($sm-max)  {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 50px;
        }

        @include below($xs-max)  {
            margin-bottom: 30px;
        }

        &::after {
            content: '';
            background: url('../../library/images/datail-component.svg');
            background-position: center;
            background-size: cover;
            width: 113px;
            height: 123px;
            position: absolute;
            bottom: -35px;
            left: -60px;

            @include below($sm-max)  {
                left: 0;
            }

            @include below($xs-max) {
                width: 56px;
                height: 61px;
                bottom: -20px;
            }
        }
    }

    &__text {
        width: 25.83333333333333%;
        margin-right: auto;

        h2 {
            font-size: clamp(24px, 5vw, 35px);
            font-weight: 600;
            padding-bottom: 4px;
            position: relative;

            &::after {
                content: '';
                width: 35px;
                height: 3px;
                background-color: $color-primary;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        @include below($lg) {
            width: 33%;
        }

        @include below($sm-max) {
            width: 100%;
            padding: 0 5%;
            box-sizing: border-box;
        }
    }

    .swiper-container {
        @include above($xs-max) {
            overflow: visible;
        }
    }

    .swiper-scrollbar {
        @include above($md) {
            transform: none;
            left: 0;
        }
    }
}