.o-ttl {
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;

  &--60 {
    font-size: clamp(30px, 5vw, 60px);
  }

  &--50 {
    font-size: clamp(25px, 5vw, 50px);
  }

  &--48 {
    font-size: clamp(24px, 5vw, 48px);
  }

  &--30 {
    font-size: clamp(20px, 3vw, 30px);
  }

  &--28 {
    font-size: clamp(20px, 3vw, 28px);
  }

  &--24 {
    font-size: clamp(18px, 3vw, 24px);
  }

  &--20 {
    font-size: clamp(18px, 3vw, 20px);
  }

  &--18 {
    font-size: clamp(16px, 3vw, 18px);
  }

  &--16 {
    font-size: 16px;
  }

  &--15 {
    font-size: 15px;
  }

  &--14 {
    font-size: 14px;
  }

  &--extrabold {
    font-weight: 800;
  }
  
  &--bold {
    font-weight: 700;
  } 

  &--semibold {
    font-weight: 600;
  }

  &--medium {
    font-weight: 500;
  }

  &--regular {
    font-weight: 400;
  }

  &--light {
    font-weight: 300;
  }

  &--extralight {
    font-weight: 200;
  }

  &--thin {
    font-weight: 100;
  }

  &--white {
    color: $white;
  }

  &--blue {
    color: $color-primary;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--txt {
    margin-top: .5em;
  }

}